<tr>
  <td><%= link_to_function("Risk Management", visual_effect(:toggle_blind,"risk_management"))%></td>
  <td id="risk_management" style="display: none;">
    <% PriorityAxis.find(:all).each do |pa| %>
      <table>
        <tr>
          <td><%= select_tag "priority_axis_" + pa.id.to_s, create_select_tag_options(event.priority_value_by_axis(pa.id), PriorityRange.find_all_by_priority_axis_id(pa.id), true) %></td>
          <td><%= label_tag "priority_axis_" + pa.name %></td>
        </tr>
      </table>
    <% end %>
  </td>
</tr>