<tr>
  <td align="right"><%=meeting_summary.completed_actions%></td>
  <td>completed</td>
</tr>
<!--
<tr>
  <td align="right"><%=meeting_summary.completed_actions_by_user%></td>
  <td>completed by you</td>
</tr>
-->
<tr>
  <td align="right"><%=meeting_summary.completed_actions_today%></td>
  <td>completed today</td>
</tr>
<tr>
  <td align="right"><%=meeting_summary.uncompleted_actions%></td>
  <td>uncompleted</td>
</tr>
