<p>
  <b>Name:</b>
  <%=h @priority_axis.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @priority_axis.description %>
</p>


<%= link_to 'Edit', edit_priority_axis_path(@priority_axis) %> |
<%= link_to 'Back', priority_axes_path %>
