<p>
  <b>Level:</b>
  <%=h @action_priority.level %>
</p>

<p>
  <b>Description:</b>
  <%=h @action_priority.description %>
</p>


<%= link_to 'Edit', edit_action_priority_path(@action_priority) %> |
<%= link_to 'Back', action_priorities_path %>
