<tr>
  <td id="popup_risk_management_header" style="display: none;">Risk Management</td>
  <td id="popup_risk_management" style="display: none;">
    <% PriorityAxis.find(:all).each do |pa| %>
      <%= select_tag "priority_axis_" + pa.id.to_s, create_select_tag_options_for_priority(event.priority_value_by_axis(pa.id), PriorityRange.find_all_by_priority_axis_id(pa.id), true), :id => "popup_priority_axis_" + pa.id.to_s, :style=>"width:35px;" %>
      <%=pa.name %><br/>
    <% end %>
    <%= text_area_tag "priority_description", (event.priority == nil ? "" : event.priority.description), :size=>"30x2" %>
    <%= label_tag "Consequence" %>
  </td>
</tr>
