<div id="edit_action_popup_<%=aktion.id%>" class="popup" style="display:none">
  (empty by purpose)
  <form>
    <!-- one popup_closeoutbox required -->
    <%= tag :input, :type => 'button', :value => 'Cancel', :class => 'popup_closebox' %>
        Description quality: <%=progress_bar("action_status_",0,false,true) %>&nbsp;&nbsp;<span id="action_status">&nbsp;</span>

  </form>
</div>

<%= javascript_tag "new Popup('edit_action_popup_#{aktion.id}','null',{modal:true,position:'center'})" %>
