<div id="popup_event_title">
  <%#= render :partial => 'action_log_popup_edit/event_title', :locals => { :event => event } %>
</div>

<%= form_remote_tag(
  :html => { :onsubmit=>"document.getElementById('popup_my_event_id').value = document.getElementById('popup_my_event_area_id').value" },
  :url => { :controller => "action_log_popup_edit", :action => "update_event", :id => event}) %>

<table class="blindtable" id="popup_event_table">
  <tr><td></td></tr>
  <%#= render :partial => 'action_log_popup_edit/event_title', :locals => { :event => event } %>
</table>
<hr/>
<%= submit_tag 'Update', :class => 'popup_closebox' %>
<%= link_to_remote 'Cancel', :url => { :controller => "action_log_popup_edit", :action => "update_event", :aktion => :cancel } %>
</form>
