<span onclick="<%=remote_function :update => 'action-' + aktion.id.to_s + '-requested_by', :url => {:controller => "action_log_inplace_edit", :action=>"inplace_edit_requested_by", :id=>aktion.id} unless @readonly %>">
  <%= aktion.requested_by.nil? ? "&#160;": aktion.requested_by.name %>
</span>
&nbsp;-&nbsp;